* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgba(43, 99, 217, 1);
    --main-color: rgba(67, 126, 247, 1);
    --gray-color: rgba(95, 109, 126, 1);
    --light-gray-color: rgba(165, 172, 186, 1);
    --base-color: rgba(255, 255, 255, 1);
    --light-base-color: rgba(177, 204, 251, 1);
    --black-color: rgba(39, 45, 55, 1);
    ---bg-light-gray: rgba(248, 249, 251, 1);

}

body {
    font-family: "Inter", sans-serif;
}

/* global style */
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--black-color);
    letter-spacing: -0.07px;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    color: var(--base-color);
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.01px;
}

h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: rgba(249, 249, 249, 1);
}

span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--gray-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: var(--main-color);
}

a i {
    margin-left: 10px;
    transition: all 0.3s ease;
}

a i:hover {
    transform: translateX(10px);
}

button {
    border: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
}

.btn__blue {
    background-color: var(--main-color);
    color: var(--base-color);
    transition: all 0.3s ease;
}

.btn__blue a {
    color: var(--base-color);
}

.d-flex {
    display: flex;
}

.p-70 {
    padding: 70px 0;
}

.container {
    width: 95%;
    margin: 0 auto;
}

input[placeholder] {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

input {
    height: 46px;
    padding: 12px 16px;
    border-radius: 6px;
    border: 0;
    border-radius: 6px;
}

.btn_submit {
    height: 46px;
    width: 88px;
    border-radius: 0 6px 6px 0;
}

/* navbar */
nav {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(234, 235, 240, 1);
    background-color: var(---bg-light-gray);
}

nav .container {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav ul li {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}

nav ul li a {
    color: var(--black-color);
}

.btn__singUp {
    background-color: transparent;
    padding: 10px;
    /* width: 57px;
    height: 22px; */
    border-radius: 5px;
    margin-right: 5px;
}

.btn__login {
    border-radius: 6px;
    width: 80px;
    height: 46px;
}

.nav__btns,
.nav__links {
    display: none;
}

.bar__menu__links {
    display: flex;
}
/* home section */
.home__section {
    background-color: var(---bg-light-gray);
    padding: 40px 0;
    align-items: center;
}

.home__title {
    text-align: center;

}

.home__title span {
    color: var(--main-color);
    font-weight: 600;
}

/* home section */
/* call to action section */
.call__to__action {
    background-color: var(--bg-color);
    padding: 30px 0;
}

.call__to__action .container {
    flex-direction: column;
    gap: 20px;
}

.inner_call_to_action_submit {
    gap: 5px;
    flex-direction: column;
    position: relative;
    justify-content: center;
}


.call_to_action_submit button {
    border-radius: 6px;
    margin: 10px 0;
    width: 100%;
    margin: 15px 0;
    /* position: absolute;
    right: 0;
    transform: translate(0%, -26%); */
}

.call_to_action_submit span,
.call_to_action_desc p {
    color: var(--light-base-color);
}

/*blog section  */
.blog_section {
    padding: 32px 0;
}

.blog_section .container {
    flex-direction: column;
    gap: 20px;
}

.blog_main_sec_desc {
    flex-direction: column;
    gap: 10px;
}

.blog_cards {
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.blog_card_desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog_section p,
.blog_section span {
    color: var(--gray-color);
}

.blog_section .toolTip_main_sec_img img {
    height: 18.75rem;
}

.blog_section img {
    width: 100%;
    height: 185px;
    margin-bottom: 15px;
    border-radius: 10px;
    object-fit: fill;
}
/*latest blog section  */
.latest_blog_section {
    padding: 30px 0;
}

.latest_blog__title {
    padding-bottom: 30px;
}

.latest_blog__title h2 {
    color: var(--black-color);
    text-align: center;
    margin-bottom: 15px;
    width: 75%;
    margin: 0 auto;
}

.latest_blog__title h2::after {
    content: " ";
    display: block;
    width: 138px;
    height: 5px;
    background-color: rgba(217, 217, 217, 1);
    transform: translate(40%, 100%);

}

.latest_blog__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

.blog__item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blog__item img {
    width: 100%;
    height: 215px;
    object-fit: fill;
}

.blog__item__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* contact us */
.contact__us {
    background-color: var(--bg-color);
}

.contact__us .container {
    padding: 35px 0;
    text-align: center;
}

.contact__us span {
    font-weight: 600;
    color: var(--base-color);
}

.btn_contact_us_signUp {
    background-color: var(--base-color);
    color: var(--main-color);
    margin: 10px 0;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    transition: all 0.3s ease;
}

.btn_contact_us_signUp:hover {
    background-color: var(--main-color);
    color: var(--base-color);
    transform: scale(1.15);
}

.btn_contact_us_logIn {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.btn_contact_us_logIn:hover {
    background-color: var(--base-color);
    color: var(--main-color);
}

/* footer section */
.end_thePage {
    background-color: rgba(21, 27, 40, 1);
    padding: 30px 0;
}

.footer__logo {
    width: 50%;
}

.footer__logo img {
    width: 100%;
}

.end_thePage_main_sec {
    padding-bottom: 35px;
}

.end_thePage_main_sec p {
    margin: 20px 0;
}

.end_thepage_content input {
    background-color: rgba(44, 52, 68, 1);
    width: 100%;
    color: var(--light-gray-color);

}

.end_thepage_content input:focus-within {
    outline: 1px solid var(--main-color);
}

.end_thePage_submit {
    position: relative;
}

.end_thePage_submit button {
    position: absolute;
    right: 0;

}

.end_thePage_lists {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 25px;
}

.end_thePage_lists>div {
    width: 45%;
}

.end_thePage_lists h6 {
    padding-bottom: 24px;
}

.end_thePage_lists ul li,
.end_thePage p {
    color: var(--light-gray-color);
}

.end_thePage_lists ul li {
    padding: 5px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
}

.end_thePage_lists ul li:hover {
    transform: translateX(10px);
}

.end_thePage_copyWrite {
    border-top: 1px solid rgba(46, 53, 69, 1)
}

.end_thePage_copyWrite p {
    text-align: center;
    padding: 10px;
}

/* media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {
    .latest_blog__title h2 {
        width: 60%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .home__section {
        /* height: 45vh; */
        padding: 75px 0;
    }

    .home__title h1 {
        width: 21.0625rem;
        height: 8.125rem;
        margin: 0 auto;
    }

    /* .home__title {
        margin: 0 auto;
        width: 65%;
    } */


    .call_to_action_desc {
        width: 95%;
    }

    .call__to__action .container {
        gap: 25px;
    }

    /* blog section */
    .latest_blog__title h2 {
        width: 45%;
    }

    .blog__item {
        width: 45%;
    }

    .latest_blog_section {
        padding: 40px 0;
    }

    .latest_blog__title {
        padding-bottom: 40px;
    }

    .contact_us_btn {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }

    .btn_contact_us_signUp,
    .btn_contact_us_logIn {
        width: 91px;
        margin: 0 15px;
    }

    .end_thePage_main_sec {
        width: 80%;
    }

    .footer__logo {
        width: 30%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {

    h1 {
        font-size: 52px;
        font-weight: 700;
        line-height: 60px;
        color: var(--black-color);
        letter-spacing: -0.04px;
    }

    h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 42px;
        color: var(--base-color);
    }

    h3 {
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.01px;
    }

    .home__title h1 {
        width: 35rem;
        margin: 0 auto;
    }

    .call__to__action {
        padding: 40px 0;
    }

    .call_to_action_submit {
        width: 75%;
    }

    .call_to_action_submit button {
        width: 88px;
        margin: 0;
        position: absolute;
        right: 0;
        transform: translateY(-28%);
        border-radius: 0 6px 6px 0;
    }

    /* blog_section */
    .blog_section {
        padding: 48px 0;
    }

    .blog_cards>div {
        display: flex;
        justify-content: space-between;
    }

    .blog_card_image {
        width: 30%;
    }

    .blog_card_desc {
        justify-content: space-around;
        gap: 0;
    }

    .blog_cards img {
        height: 10.375rem;
        /* width: 188px; */
        margin: 0;
    }

    .blog_card_desc {
        width: 65%;

    }

    .contact__us .container h2 {
        width: 90%;
        margin: 0 auto;
    }

    .end_thepage_content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 32px;
    }

    .end_thePage_lists {
        gap: 0;
    }

    .end_thePage_lists>div {
        width: 23%;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav .container {
        padding: 20px;
    }

    .nav__content {
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: space-between;

    }

    .nav__btns,
    .nav__links {
        display: flex;
    }

    .nav__btns {
        align-items: center;
    }

    .bar__menu__links {
        display: none;
    }

    .container {
        width: 85%;
    }

    .home__section {
        height: 65vh;
        padding: 0;
    }

    .call__to__action,
    .contact__us .container,
    .end_thePage,
    .blog_section {
        padding: 65px 0;
    }

    .call__to__action .container {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .call_to_action_desc {
        width: 55%;
    }

    .call_to_action_submit {
        width: 45%;
    }

    .inner_call_to_action_submit {
        width: 70%;
        padding: 50px 0;
        margin: 0 auto;
    }


    .latest_blog_section {
        padding: 55px 0;
    }

    .latest_blog__title {
        padding-bottom: 55px;
    }

    .latest_blog__title h2::after {
        transform: translate(100%, 100%);
    }

    .blog__item {
        width: 30%;
    }

    .btn_contact_us_logIn {
        display: none;
    }

    .contact__us .container h2 {
        width: 65%;
        margin: 0 auto;
    }

    .btn_contact_us_signUp {
        margin-top: 20px;
    }

    .contact_us_btn {
        padding: 0;
    }

    .footer__logo {
        width: 50%;
    }

    .end_thePage_main_sec {
        width: 30%;
    }

    .end_thepage_content {
        flex-direction: row;
        justify-content: space-between;
    }

    .end_thePage_lists {
        width: 60%;
    }

    .end_thePage_lists ul li {
        padding-bottom: 12px;
    }

    .end_thePage_lists>div {
        width: 27%;
    }

    .end_thePage_copyWrite {
        padding-top: 30px;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .nav__content {
        width: 53%;
    }

    .home__section {
        height: 328px;
    }

    .call_to_action_desc, .call_to_action_submit {
        width: 50%;
    }


    .blog_section .container {
        gap: 32px;
    }

    .blog_section .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .blog_main_sec_desc {
        gap: 20px;
    }

    .blog_cards {
        width: 50%;
        gap: 25px;
    }

    .blog_main_section {
        width: 47%;
    }

    .blog_section .blog_main_section img {
        height: 13.125rem;
    }

    .blog_section .blog_cards img {
        height: 7.375rem;
    }

    .blog_card_image {
        width: 32%;
    }

    .latest_blog__title h2::after {
        transform: translate(140%, 100%);
    }

    .latest_blog__items {
        gap: 35px;
    }

    .contact__us .container h2 {
        width: 55%;
    }

    .end_thepage_content {
        padding-bottom: 50px;
    }

}