/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {
    .blog__title h2 {
        width: 60%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .home__section {
        /* height: 45vh; */
        padding: 75px 0;
    }

    /* .home__title {
        margin: 0 auto;
        width: 65%;
    } */


    .call_to_action_desc {
        width: 95%;
    }
.call__to__action .container{
    gap: 25px;
}
    /* blog section */
        .blog__title h2 {
        width: 45%;
    }

    .blog__item {
        width: 45%;
    }

    .blog__posts__section {
        padding: 40px 0;
    }

    .blog__title {
        padding-bottom: 40px;
    }

    .contact_us_btn {
        display: flex;
        justify-content: center;
    }

    .btn_contact_us_signUp,
    .btn_contact_us_logIn {
        width: 91px;
        margin: 0 15px;
    }

    .end_thePage_main_sec {
        width: 80%;
    }

    .footer__logo {
        width: 30%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {

    h1 {
        font-size: 52px;
        font-weight: 700;
        line-height: 60px;
        color: var(--black-color);
        letter-spacing: -0.04px;
    }

    h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 42px;
        color: var(--base-color);
    }

    h3 {
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.01px;
    }

    .home__title h1 {
        width: 35rem;
        margin: 0 auto;
    }

    .call__to__action {
        padding: 40px 0;
    }

    .call_to_action_submit {
        width: 75%;
    }

    .call_to_action_submit button {
        width: 88px;
        margin: 0;
        position: absolute;
        right: 0;
        transform: translateY(-28%);
        border-radius: 0 6px 6px 0;
    }

    /* toolTip__section */

    /* .toolTip__section .toolTip_side_section div {
        margin: 0;
    } */
    .toolTip__section {
        padding: 48px 0;
    }

    .toolTip_side_section>div {
        display: flex;
        justify-content: space-between;
    }

    .toolTip_side_sec_img {
        width: 30%;
    }

    .toolTip_side_section_desc {
        justify-content: space-around;
        gap: 0;
    }

    .toolTip_side_section img {
        height: 10.375rem;
        /* width: 188px; */
        margin: 0;
    }

    .toolTip_side_section_desc {
        width: 65%;

    }

    .end_thepage_content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 32px;
    }

    .end_thePage_lists {
        gap: 0;
    }

    .end_thePage_lists>div {
        width: 23%;
    }
        .end_thePage_lists h6 {
        padding-bottom: 24px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav .container {
        padding: 20px;
    }

    .nav__content {
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: space-between;

    }

    .nav__btns,
    .nav__links {
        display: flex;
    }

    .nav__btns {
        align-items: center;
    }

    .bar__menu__links {
        display: none;
    }

    .container {
        width: 85%;
    }

    .home__section {
        height: 65vh;
        padding: 0;
    }

    .call__to__action,
    .contact__us .container,
    .end_thePage,
    .toolTip__section {
        padding: 65px 0;
    }

    .call__to__action .container {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
    .call_to_action_desc {
        width: 55%;
    }

    .call_to_action_submit {
        width: 45%;
    }

    .inner_call_to_action_submit {
        width: 70%;
        padding: 50px 0;
        margin: 0 auto;
    }


    .blog__posts__section {
        padding: 55px 0;
    }

    .blog__title {
        padding-bottom: 55px;
    }

    .blog__title h2::after {
        transform: translate(100%, 100%);
    }

    .blog__item {
        width: 30%;
    }

    .btn_contact_us_logIn {
        display: none;
    }

    .contact__us .container h2 {
        width: 75%;
        margin: 0 auto;
    }

    .btn_contact_us_signUp {
        margin-top: 20px;
    }

    .footer__logo {
        width: 50%;
    }

    .end_thePage_main_sec {
        width: 30%;
    }

    .end_thepage_content {
        flex-direction: row;
        justify-content: space-between;
    }

    .end_thePage_lists {
        width: 60%;
    }

    .end_thePage_lists ul li {
        padding-bottom: 12px;
    }

    .end_thePage_lists>div {
        width: 27%;
    }

    .end_thePage_copyWrite {
        padding-top: 30px;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .nav__content {
        width: 53%;
    }

    .home__section {
        height: 328px;
    }

    .call_to_action_desc, .call_to_action_submit{
        width: 50%;
    }

    
    .toolTip__section .container {
        gap: 32px;
    }

    .toolTip__section .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .toolTip_side_section {
        width: 50%;
        gap: 32px;
    }

    .toolTip_main_section {
        width: 47%;
    }

    .toolTip_side_section_desc {
        gap: 5px;
    }

    .toolTip__section .toolTip_main_section img {
        height: 13.125rem;
    }

    .toolTip__section .toolTip_side_section img {
        height: 7.375rem;
    }

    .blog__title h2::after {
        transform: translate(140%, 100%);
    }

    .contact__us .container h2 {
        width: 60%;
    }
    .end_thepage_content {
        padding-bottom: 50px;
    }

}